:root {
  --arrow-size: 60px;
}

body {
  font-family: "Josefin Sans";
  background-color: #fffafb;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

.detail-image {
  width: 729px;
  height: 742px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

/* home page slider */

.home-page-slider .slick-list {
  height: 320px;
  padding-top: 20px;
  padding-right: 20px;
}

.slick-arrow.slick-prev {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: var(--arrow-size);
  height: var(--arrow-size);
  z-index: 10;
  background-image: url("/assets/icons/left_arrow.svg");
  background-repeat: no-repeat;
  background-size: var(--arrow-size) var(--arrow-size);
}

.slick-arrow.slick-next {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: var(--arrow-size);
  height: var(--arrow-size);
  z-index: 10;
  background-image: url("/assets/icons/right_arrow.svg");
  background-repeat: no-repeat;
  background-size: var(--arrow-size) var(--arrow-size);
}

.home-page-slider .slick-slide.slick-active {
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* details page slider */

.details-slider {
  width: 90vw;
  display: block;
  margin: auto;
}

.details-slider .slick-list {
  /* height: 320px; */
  padding-top: 40px;
  padding-bottom: 100px;
}

.details-slider .slick-slide.slick-active {
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* pagination styling */

.pagination {
  font-family: "Open Sans", sans-serif;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
  font-weight: 600;
}

.pagination .next {
  padding: 8px 8px;
  border-radius: 3px;
  background-color: #ff2625;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

.pagination .previous {
  padding: 8px 8px;
  border-radius: 3px;
  background-color: #ff2625;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
}
.pagination .page-num:hover {
  background-color: #ff2625;
  color: #fff;
}
.pagination .active {
  background-color: #ff2625;
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .detail-image {
    width: max(50vw, 300px);
    height: max(50vw, 300px);
  }

  .exercise-card {
    width: 320px;
  }
}

@media screen and (max-width: 600px) {
  .details-slider {
    width: 75vw;
  }

  .pagination {
    font-size: 1rem;
    gap: 2px;
  }

  .pagination .page-num {
    padding: 8px 7px;
  }
}

@media screen and (max-width: 400px) {
  .exercise-video {
    height: auto;
    margin-bottom: 1rem;
  }
  .exercise-card {
    width: 280px;
  }

  .details-slider {
    width: 80vw;
  }

  .pagination .next {
    padding: 8px 8px;
    font-size: 1.2rem;
  }

  .pagination .previous {
    padding: 8px 8px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 330px) {
  .pagination {
    font-size: 0.85rem;
  }

  .pagination .page-num {
    padding: 8px 5px;
  }
}
